.card-list {
  margin-top: 116px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 29px 20px;
  max-width: 1140px;
  box-sizing: border-box;
}

.card-list_load {
  margin-top: 116px;
  margin-bottom: 80px;
  display: flex;
  grid-template-columns: none;
  grid-template-rows:none;
  grid-gap: 0 0;
  align-items: center;
}

.card-list__button {
  width: 1140px;
  background: #f4f4f4;
  border-radius: 6px;
  border: none;
  height: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  padding: 0;
  transition: .5s linear;
}

@media screen and (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 132px;
    grid-gap: 36px 30px;
  }
  .card-list__button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .card-list {
    grid-template-columns: repeat(1, 300px);
    margin-top: 87px;
    grid-gap: 18px 0;
  }
  .card-list__button {
    width: 300px;
  }
}
