.movies {
  max-width: 1140px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.page__movies {
  margin: 70px 70px 80px;
}

@media screen and (max-width: 1200px) {
  .page__movies {
    margin: 80px 30px 80px;
  }
}

@media screen and (max-width: 750px) {
  .page__movies {
    margin: 92px 10px 80px;
  }
}
