.header {
  padding: 18px 0;
  max-width: 1140px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 74px;
  align-items: center;
}

.page__header {
  margin: 0 70px;
}

.header__auth {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.header__signup {
  margin: 0 30px 0 0;
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.header__signin {
  width: 76px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  transition: .5s;
}

@media screen and (max-width: 900px) {
  .page__header {
    margin: 0 30px;
  }
}

@media screen and (max-width: 440px) {
  .page__header {
    margin: 0 14px;
  }

  .header__auth {
    font-size: 10px;
    line-height: 1.6;
  }

  .header__signin {
    width: 54px;
    height: 26px;
  }

  .header__signup {
    margin: 0 13px 0 0;
  }
}
