@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

.hover-link:hover {
  opacity: 0.7;
  transition: .5s linear;
}

.hover-btn:hover {
  opacity: 0.8;
  transition: .5s linear;
}
